* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  color: blue;
  gap: 20px;

  grid-template-areas:
    "lorem culpa officia officia"
    "lorem mollit mollit fugiat"
    "exercitation magna laboris fugiat"
    "ullamco ullamco laboris consectetur"
    "pariatur dolore dolore excepteur";

  div {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lorem {
    grid-area: lorem;
  }
}
